%h2 Edit profile

- semantic_form_for(@user) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :username
    = f.input :email
    = f.input :password, :hint => 'Leave blank to keep your existing password'
    = f.input :password_confirmation
    = f.input :time_zone 

  - f.buttons do
    = f.commit_button
    or
    = link_to 'cancel', profile_path
